<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles.css') }}">
    <title>The Great Number Game</title>
</head>
<body>
    <div id="container">

        <h1>Welcome to the Great Number Game!</h1>
        <h3>I am thinking of a number between 1 and 100</h3>
        <h3>Take a guess!</h3>
        <div class="holder">
            {% if "randomly" in session %}
                {% if session["randomly"] == session['num'] %}
                    <h1 style="color:  rgba(55, 193, 55, 0.596);">You got it right</h1>
                {% elif session["randomly"] > session['num'] %}
                    <h1 style="color: crimson;">The number you guessed is too low</h1>
                {% else: %}
                    <h1 style="color: crimson;">The number you guessed is too high</h1>
                {% endif %}
            {% endif %}
            <form action="/guess" method="post">
                <input type="text" name="num">
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>